@tailwind base;
@tailwind components;
@tailwind utilities;

.size {
  @apply w-[95%] mx-auto max-w-[1600px];
}

.share-button {
  @apply p-2 hover:bg-gray-200 text-gray-600 hover:text-black/80 w-full text-[10px] md:text-sm text-left cursor-pointer flex gap-1 md:gap-2 items-center;
}

.shadows {
  box-shadow: 0px 0px 3px 0.3px rgb(182, 182, 182);
}

.center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.write .ql-editor {
  font-size: 1.2rem !important;
  padding: 0 !important;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
