@tailwind base;
@tailwind components;
@tailwind utilities;

.size {
  @apply w-[95%] mx-auto max-w-[1600px];
}

.page-height {
  @apply h-full min-h-[calc(100vh-141px)];
}

.share-button {
  @apply p-2 hover:bg-gray-200 text-black/80 hover:text-gray-600 w-full text-[10px] md:text-sm text-left cursor-pointer flex gap-1 md:gap-2 items-center;
}

.btn {
  @apply border border-green-600 p-1 px-3 md:py-2 md:px-5 rounded-full transition-all duration-200;
}

.shadows {
  box-shadow: 0px 0px 3px 0.3px rgb(182, 182, 182);
}

.center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.write .ql-editor {
  font-size: 1.2rem !important;
  padding: 0 !important;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Wrapper around the tag input */
.tag-input-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 8px; /* Adds space between tags */
  margin-bottom: 16px;
}

/* Styling individual tags */
.ReactTags__tag {
  background-color: #9fa9ba; /* Dark gray */
  color: black;
  padding: 6px 10px;
  border-radius: 16px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  max-width: 200px;
  margin-bottom: 8px;
}

/* Remove button inside each tag */
.ReactTags__remove {
  margin-left: 20px !important;
  cursor: pointer;
  font-weight: bold;
  margin-left: auto;
  margin-right: 0;
}

/* Input field for new tags */
.ReactTags__tagInputField {
  border: none;
  outline: none;
  font-size: 14px;
  margin-left: 8px;
  padding: 6px;
}

.ReactTags__tagInput {
  display: inline-block;
  padding: 6px;
}
